.table > tbody > tr > td {
    vertical-align: middle;
}

.aws-icon {
    display: block;
    height: 1em;
    width: 1em;
    background-size: 150% 150%;
    background-position: center center;
    background-repeat: no-repeat;
}

.aws-icon-ec2-ami {
    background-image: url('../images/aws-icons/ec2-ami.svg');
}
