// Place all the styles related to the daily_index controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

//= require application
//= require google-code-prettify/prettify

table {
  td.metadata-label {
    font-weight: bold;
  }
}

.daily-index-display-item {
  display: inline-block;
  background-color: whitesmoke;
  margin: 3pt;
  padding: 3pt 6pt;
  border-radius: 4pt;
  text-overflow: ellipsis;
}
