// Place all the styles related to the daily_index controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

//= require application
//= require google-code-prettify/prettify

table {
  td.metadata-label {
    font-weight: bold;
  }
}

#template-container {
  display: none;
}

#daily-index-display-container {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.daily-index-display-item {
  .box {
    background-color: whitesmoke;
    margin: 5pt 0;
    padding: 4pt;
    border-radius: 5pt;
  }
}
