<div class="page-header">
    <h1>{{doc['article_title']}}</h1></div>
<script type="text/ng-template" id="article_content_renderer.html">
    {{(node['_text']) ? node['_text'] : ''}}
    <p ng-if="node['p']"><span ng-include="'article_content_renderer.html'" ng-repeat="node in node['p']"></span></p>
    <a ng-if="node['a']"><span ng-include="'article_content_renderer.html'" ng-repeat="node in node['a']"></span></a>
</script>
<div class="article-content">
    <div ng-include="'article_content_renderer.html'" ng-repeat="node in doc['content']"></div>
</div>
<div class="article-metadata">
    <h3>Metadata</h3>
    <table class="table">
        <tr>
            <td>Authors</td>
            <td>{{doc['metadata']['authors'].join(', ')}}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{doc['metadata']['date']}}</td>
        </tr>
        <tr>
            <td>Title</td>
            <td>{{doc['metadata']['title']}}</td>
        </tr>
        <tr>
            <td>Tags</td>
            <td>{{doc['metadata']['tags'].join(', ')}}</td>
        </tr>
        <tr>
            <td>Channels</td>
            <td>{{doc['metadata']['channels'].join(', ')}}</td>
        </tr>
        <tr>
            <td>Byline Date</td>
            <td>{{doc['metadata']['byline_date']}}</td>
        </tr>
    </table>
</div>
<h3>Tags</h3>
<ul>
    <li ng-repeat="meta_tag in doc['meta']">
        <span class="label label-default">{{meta_tag['name']}}</span>
        {{meta_tag['value']}}
    </li>
</ul>
