extends layout

block scripts
    script(type="text/javascript", src='/angular/latest/angular-resource.min.js')
    script(type="text/javascript", src='/angular/latest/angular-route.min.js')
    script(type="text/javascript", src='/javascripts/bootstrap.js')

block content
    section(ng-controller='bootstrap')
        h1.page-header= "Bootstrap on EC2 Instance: " + instanceId
        div
            ul
                li Current revision
                    ul
                        li Commit ID: {{currentRevision.commitId}}
                        li Date: {{currentRevision.date}}
                        li Release Notes: {{currentRevision.releaseNotes}}
        div.panel-group
            div.panel.panel-default
                div.panel-heading Raw DescribeInstances Output
                div.panel-body {{raw['DescribeInstances']}}

