extends layout

block scripts
    script(type="text/javascript", src='/angular/latest/angular-resource.min.js')
    script(type="text/javascript", src='/angular/latest/angular-route.min.js')
    script(type="text/javascript", src='/javascripts/bootstrap.js')
    script(type="text/javascript", src='/javascripts/api.js')

block content
    section(ng-controller='bootstrap')
        h1.page-header= "Bootstrap on EC2 Instance: " + instanceId
        div
            div
                h2 Current Icarus Revision
                ul
                    li Commit ID: {{currentRevision.commitId}}
                    li Date: {{currentRevision.date}}
                    li Release Notes: {{currentRevision.releaseNotes}}
                div
                    button.btn.btn-primary(ng-show="artifactBuildStatus == 'NotStarted'", ng-click='buildArtifact(currentRevision)') Build
                    span.text-info(ng-show="artifactBuildStatus == 'Building'") Building
                    span.text-success(ng-show="artifactBuildStatus == 'Success'") Build Success: {{builtArtifact}}
                    span.text-danger(ng-show="artifactBuildStatus == 'Error'") Build Error: {{artifactBuildError}}
            div
                h2 Icarus Artifacts
                div.container
                    div.col-lg-6
                        h4 Local
                        div.alert.alert-warning(ng-show="!localArtifacts.length") No built artifacts found.
                        div
                            div(ng-repeat='artifact in localArtifacts')
                                span {{artifact.filename}}&nbsp;
                                span.btn.btn-xs.btn-link(ng-click='artifactRemoteUpload(artifact)')
                                    span.glyphicon.glyphicon-cloud-upload
                                    span &nbsp;Upload
                                span.btn.btn-xs.btn-link(ng-click='artifactLocalDelete(artifact.filename)')
                                    span.glyphicon.glyphicon-remove.text-danger
                                    span.text-danger &nbsp;Remove
                    div.col-lg-6
                        h4 Remote
                        div(ng-repeat='artifact in remoteArtifacts')
                             span {{artifact.key}}&nbsp;
                             //span.btn.btn-xs.btn-link
                                 span.glyphicon.glyphicon-remove.text-danger
                                 span.text-danger &nbsp;Remove
            div
                h2 EC2 Instance
                div
                    table.table
                        tr
                            td Public DNS
                            td {{ec2InstanceDescription.PublicDnsName}}
                div
                    h3 Security
                //div
                    h3 EC2 Metadata
                    {{ec2Metadata}}
            hr
            div
                h2 Steps
                ol
                    li Download package to instance {{ec2InstanceDescription.InstanceId}}
                        form.form-horizontal
                            div.form-group
                                label.col-sm-1.control-label S3 Key:
                                div.col-sm-5
                                    select.form-control(ng-model="remoteArtifactToDeploy",ng-options="artifact.key for artifact in remoteArtifacts")
                            div.form-group
                                div.col-sm-offset-1.col-sm-5
                                    a.btn.btn-link
                                        span.glyphicon.glyphicon-cloud-download
                                        span &nbsp;Download
        hr
        div.panel-group
            div.panel.panel-default
                div.panel-heading Raw DescribeInstances Output
                div.panel-body {{raw['DescribeInstances']}}

