extends layout

block scripts
    | <script type="text/javascript" src="/javascripts/index.js"></script>

block content
    div(ng-controller="indexController")
        div.page-header
            h1 Icarus
        div
            h2 Server Status
                h3 Passenger
                pre(ng-show="passengerStatus") {{passengerStatus}}
                div.bg-danger {{passengerError}}


