extends layout

block scripts
    script(type="text/javascript", src='angular/latest/angular-resource.min.js')
    script(type="text/javascript", src='javascripts/icarus.js')

block content
    div(ng-controller='icarus')
        h1.page-header= title
            br
            small Deployment Dashboard
        div#instances
            h2 Current Running Instances
            table.table
                tr
                    th Instance ID
                    th Image ID
                    th Public IP
                    th Public DNS
                    th Subnet ID
                tr(ng-repeat='instance in instances')
                    td {{instance['InstanceId']}}
                    td {{instance['ImageId']}}
                    td {{instance['PublicIpAddress']}}
                    td {{instance['PublicDnsName']}}
                    td {{instance['SubnetId']}}
        div#Source
            h2 Version Control
            div(ng-repeat='app in apps')
                h3 App: {{app['displayName']}}
                table.table
                    tr
                        th Commit ID
                        th Date
                        th Release Notes
                        th Actions
                    tr(ng-repeat="commit in app['commits']")
                        td {{commit['hash']}}
                        td {{commit['date']}}
                        td {{commit['releaseNotes']}}
                        td
                            a.btn.btn-primary(type='button') Build
        div#localArtifacts
            h2 Local Artifacts
    //div(data-spy='affix', data-offset-top="60", data-offset-bottom="200")
        ul.nav.nav-list
            li
                a(href='#instances') Instances
            li
                a(href='#Source') Local Settings
            li
                a(href='#localArtifacts') Local Artifacts
