doctype html
html
    head
        title= title
        link(rel='stylesheet', href='bootstrap/latest/css/bootstrap.min.css')
        link(rel='stylesheet', href='bootstrap/latest/css/bootstrap-theme.min.css')
        script(type="text/javascript", src='jquery/latest/jquery.min.js')
        script(type="text/javascript", src='bootstrap/latest/js/bootstrap.min.js')
        script(type="text/javascript", src='angular/latest/angular.min.js')
        block scripts

    body.container(ng-app='icarus')

    block content
