extends ../layout

block scripts
    script(type="text/javascript", src="/javascripts/admin/packages.js")
    script(type="text/javascript", src="/javascripts/admin/bootstrap.js")
    script.
        var APP_ID = '!{AppId}';

block content
    div(ng-controller="adminBootstrapController as bootstrap")
        div
            ol.breadcrumb
                li
                    a(href="/") Home
                li Admin
                li.active Bootstrap
        div.page-header
            h1 Bootstrap
        div
            h2 Packages
            div(ng-repeat="p in packages")
                h3 {{p.name}}


