<div ng-switch="spec().type">
    {{spec}}
    <div ng-switch-when="object">
        <div ng-repeat="(key, member) in spec().members">
            <div class="form-group">
                <label>{{key}}</label>
                {{member}}
                <icarus-api-form spec="member" model="model[key]"></icarus-api-form>
            </div>
        </div>
    </div>
    <div ng-switch-default class="alert alert-danger">
        Unknown spec type: {{spec().type}}.<br>
        {{spec()}}
    </div>
</div>
