<ul class="nav nav-tabs">
    <li ng-repeat='tab in content_tabs' ng-class='isActive(tab.key)' >
        <%= link_to '{{tab.display_name}}', '#doc-content-{{tab.key}}', {'ng-click' => 'tabClick(tab.key, $event)', data: {content_tab_key: '{{tab.key}}'}} %>
    </li>
</ul>
<div>
    <div ng-repeat='tab in content_tabs' id="doc-content-{{tab.key}}" ng-show="isActive(tab.key)">
        <pre class="pre-scrollable"></pre>
    </div>
</div>
