<div icarus-nav=""></div>
<div class="page-header">
    <h1>Launch Instance</h1>
</div>
<div>
    <h2>Configuration</h2>

    <div class="container">
        <div class="row">
            <label>EC2 Endpoint:</label>
            {{ec2Config.endpoint}}
        </div>
        <div class="row">
            <label>VPC ID:</label>
            {{ec2Config.appVpc}}
        </div>
        <div class="row form-inline">
            <label>Instance Type:</label>
            <select ng-model="selectedInstanceType" class="form-control">
                <option value="t1.micro">t1.micro</option>
                <option value="m1.small">m1.small</option>
            </select>
        </div>
        <div class="row">
            <label>IAM Instance Profile ARN:</label>
            {{ec2Config.instance.iam_instance_profile.arn}}
        </div>
        <div class="row">
            <label>Key Name:</label>
            {{ec2Config.instance.key_name}}
            (Path: {{ec2Config.keyPath}})
        </div>
        <div class="row">
            <label>Select Image:</label>
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Image ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Details</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="image in ec2ImageSelector.images"
                    ng-class="{'bg-success': ec2ImageSelector.selected === image.ImageId}">
                    <td><input type="radio" ng-model="ec2ImageSelector.selected" value="{{image.ImageId}}"
                               name="selectImage"></td>
                    <td>{{image.ImageId}}</td>
                    <td>{{image.Name}}</td>
                    <td>{{image.Description}}</td>
                    <td><a class="btn-link" data-toggle="modal"
                           data-target=".modal-image[data-image-id='{{image.ImageId}}']">Details</a>

                        <div icarus-admin-key-value-modal="image"
                             class="modal-image"
                             data-image-id="{{image.ImageId}}"
                             title="Image: {{image.ImageId}}"></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <label>Select Subnet:</label>
            <table class="table">
                <thead>
                <tr>
                    <th></th>
                    <th>Subnet ID</th>
                    <th>Availability Zone</th>
                    <th>CIDR Block</th>
                    <th>Available IPs</th>
                    <th>Details</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="subnet in ec2SubnetSelector.subnets"
                    ng-class="{'bg-success': ec2SubnetSelector.selected === subnet.SubnetId}">
                    <td><input type="radio" ng-model="ec2SubnetSelector.selected" value="{{subnet.SubnetId}}"
                               name="selectedSubnet"></td>
                    <td>{{subnet.SubnetId}}</td>
                    <td>{{subnet.AvailabilityZone}}</td>
                    <td>{{subnet.CidrBlock}}</td>
                    <td>{{subnet.AvailableIpAddressCount}}</td>
                    <td><a class="btn-link" data-toggle="modal"
                           data-target=".modal-subnet[data-subnet-id='{{subnet.SubnetId}}']">Details</a>

                        <div icarus-admin-key-value-modal="subnet"
                             class="modal-subnet"
                             data-subnet-id="{{subnet.SubnetId}}"
                             title="Subnet: {{subnet.SubnetId}}"></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <label>Select Security Groups:</label>

            <div class="row container ec2-security-group-selector-element"
                 ng-repeat="sg in ec2SecurityGroupsSelector.securityGroups"
                 ng-class="{'bg-success':ec2SecurityGroupsSelector.selected[sg.GroupId]}">
                <div>
                    <input type="checkbox" ng-model="ec2SecurityGroupsSelector.selected[sg.GroupId]">
                    <strong>Security Group:</strong>
                    {{sg.GroupName}} ({{sg.GroupId}})
                    <a class="btn-link" data-toggle="modal"
                       data-target=".modal-sg[data-sg-id='{{sg.GroupId}}']">Details</a>
                </div>
                <div class="margin-indent-2"></div>
                <div icarus-admin-key-value-modal="sg"
                     class="modal-sg"
                     data-sg-id="{{sg.GroupId}}"
                     title="SecurityGroup: {{sg.GroupId}}"></div>
            </div>
        </div>
        <hr>
        <div>
            <button class="btn btn-primary" type="button" ng-click="launchInstance()">
                Launch
            </button>
        </div>
    </div>

</div>
