<div icarus-nav=""></div>
<div class="page-header">
    <h1 class="inline-block">Instance: {{instanceId}}</h1>

    <div class="btn btn-link inline-block" data-toggle="modal"
         data-target=".modal-instance[data-instance-id='{{instanceId}}']">Details
    </div>
    <div ng-if="instanceDescription"
         icarus-admin-key-value-modal="instanceState"
         class="modal-instance"
         data-instance-id="{{instanceId}}"
         title="Instance: {{instanceId}}"></div>
</div>
<div>
    <h2>Server Status</h2>

    <div class="container">
        <div class="row">
            <div class="col-sm-2"><strong>Public DNS Name</strong></div>
            <div class="col-sm-10">{{instanceState.PublicDnsName}}</div>
        </div>
        <div class="row">
            <div class="col-sm-2"><strong>Public IP</strong></div>
            <div class="col-sm-10">{{instanceState.PublicIpAddress}}</div>
        </div>
        <div class="row">
            <div class="col-sm-2"><strong>Icarus Portal</strong></div>
            <div class="col-sm-10"><a href="https://{{instanceState.PublicIpAddress}}:9443">https://{{instanceState.PublicIpAddress}}:9443</a></div>
        </div>
        <div class="row">
            <div class="col-sm-2"><strong>Version</strong></div>
            <div class="col-sm-10">{{instanceState.version}}</div>
        </div>
    </div>
</div>
<div>
    <h2>Packages</h2>

    <table class="table">
        <thead>
        <th>Package ID</th>
        <th>Package Name</th>
        <th>Deployed Version</th>
        <th>Latest Version</th>
        <th>Details</th>
        </thead>
        <tbody>
        <tr ng-repeat="(packageId, package_) in allPackages">
            <td><a class="btn-link" href="/admin/package/{{packageId}}">{{packageId}}</a></td>
            <td>{{package_.name}}</td>
            <td></td>
            <td></td>
            <td>
                <a class="btn-link" data-toggle="modal" data-target=".modal-package[data-package-id='{{packageId}}']">Details</a>

                <div icarus-admin-key-value-modal="package_"
                     class="modal-package"
                     data-package-id="{{packageId}}"
                     title="Package: {{packageId}}"></div>
            </td>
        </tr>
        </tbody>
    </table>

</div>

