.row-fluid
  %h1= @article_source.display_name
.row-fluid
  .span9
    %h3 Daily Index (Last 5 Days)
    - current_local_date = @article_source.get_local_date get_current_datetime()
    %ul
      - (0..4).each do |i|
        %li= link_to (current_local_date - i.day).strftime('%Y-%m-%d'), :controller => :daily_index, :action => :show, :article_source_id => @article_source.id, :id => nil, |
          :params => {:date=>(current_local_date - i.day).iso8601}
  -#%h3
      Homepage Preview
    -# %div
      != get_web_page(@article_source.home_url).body.to_s
  .span3.well
    %h3 Configuration
.row
  %p.span12
    Find me in app/views/article_source/show.html.erb
